extends components/layout

block config
  - var pageTitle = 'SpringClean(me)'
  - var bodyClass = 'home'

block content
  include components/intro
  include components/cards

  footer.site-footer
    p Think one of the cards is innaccurate? Have I missed one? 
    a(href="https://github.com/jonnyscholes/springclean") Contribute to SpringClean.me on Github!

  div.progress