.card {
  @include box-sizing(border-box);
  background: white;
  padding: 10px 20px 33px 20px;
  margin-bottom: 2%;
  margin-right: 2%;
  position: relative;
  width: 23.5%;
  min-height: 180px;
  float: left;

  &:nth-child(4n){
    margin-right: 0;
  }

  &[data-importance^="9"],
  &[data-importance^="8"],
  &[data-importance^="7"] {
    background: lighten(red, 20%);
    .content {
      background: lighten(red, 20%);
      &:before {
        background: lighten(red, 20%);
      }
    }
  }

  &[data-importance^="6"],
  &[data-importance^="5"],
  &[data-importance^="4"] {
    background: lighten(orangered, 20%);
  }

  &[data-importance^="1"],
  &[data-importance^="2"],
  &[data-importance^="3"] {
    background: lighten(yellow, 20%);
  }


  a {
    color: black;
  }

  .content {
    @include box-sizing(border-box);
    padding: 20px;
    display: none;
  }

  input.toggleMore {
    &:checked {
      & + .content {
        display: block;

      }
    }
  }
    
  input.toggleCard {
    display: none;
    &:checked {
      &+ label {
        &:before {
          right: 33px;
          background: $positive;
        }
        &:after {
          content: '';
          color: $positive;
        }
      }
      &~ {
        h3 {
          text-decoration: line-through;
        }
      }
    }
  }

  label.toggleCard {
    border-radius: 17px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 20px;
    background: rgba(black, 0.5);
    &:hover {
      cursor: pointer;
    }
    &:before {
      @include transition(all 300ms ease);
      border-radius: 100%;
      content: '';
      position: absolute;
      background: $red;
      top: 3px;
      right: 3px;
      width: 14px;
      height: 14px;
    }
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 4px;
      margin-left: -15px;
      color: $red;
      font-size: 0.7em;
      width: 30px;
      text-align: center;
    }
  }

  h3 {
    color: $red;
  }

}