.tabs {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.tab-content {
  .zone {
    display: none;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    &.active {
      display: block;
    }
  }
}
