header.site-header
  h1
    | SpringClean<span>(me)</span>
  h2 If you're like me you probably don't clean up after yourself on the Internet as much as you should, lets take the time to Spring Clean our various digital properties properly.