section.intro(role="contentinfo")
  div.legend
    span.critical Its is critical that you complete these tasks
    span.severe You really should rectify these issues
    span.warning You've come so far, dont give up now
    //p Toggle the switches as you complete the tasks to see your progress.