h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "omnes-pro",sans-serif;
  font-weight: 200;
}

p {
  margin: 0;
}

h3 {
  color: white;
}

$bg: $red;
$bdr: lighten($positive, 20%);

.site-footer,
.site-header {
  @include box-sizing(border-box);
  text-align: center;
  opacity: 0.8;
  color: white;
  border-left: 5px solid $bdr;
  border-right: 5px solid $bdr;
  padding: 20px;
  &:before {
    content: '';
    background-size: 20px 40px;
    height: 15px;
    width: calc(100% + 10px);
    position: absolute;
    left: -5px;
  }
}

.site-header {
  @include linear-gradient($bg 0%, $bdr 100%);
  margin: 0 auto 40px auto;
  
  &:before {
    @include background-image(
      linear-gradient(45deg, transparent 33.333%,  $bdr 33.333%, $bdr 66.667%, transparent 66.667%),
      linear-gradient(-45deg, transparent 33.333%, $bdr 33.333%, $bdr 66.667%, transparent 66.667%)
    );
    background-position: 0px 15px;
    bottom: -15px;
  }
  h1 {
    font-family: "omnes-pro",sans-serif;
    display: inline-block;
    font-size: 2em;
    font-weight: 100;
    position: relative;
    margin: 0;
    span {
      position: absolute;
      left: 100%;
      top: 3px;
      font-size: 0.4em;
    }
  }
}

@include respond-to($desktop-context){
  h1 {
    font-size: 4em;
    span {
      font-size: 0.5em;
    }
  }
}

.site-footer {
  @include linear-gradient($bdr 0%, $bg 100%);
  margin: 40px auto 0 auto;

  &:before {
    @include background-image(
      linear-gradient(45deg, transparent 33.333%,  $bdr 33.333%, $bdr 66.667%, transparent 66.667%),
      linear-gradient(-45deg, transparent 33.333%, $bdr 33.333%, $bdr 66.667%, transparent 66.667%)
    );
    background-position: 0px 0px;
    top: -15px;
  }

  a {
    margin-top: 5px;
    display: block;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}

section.intro,
.site-header,
.site-footer {
  max-width: 720px;
}

.site-header,
.site-footer,
.checklist,
.intro {
  position: relative;
  z-index: 2;
}

.intro {
  margin: 0 auto;
  .legend {
    margin-bottom: 40px;
    text-align: center;
    overflow: hidden;
    p {
      color: #fff;
    }
  }
  .critical,
  .severe,
  .warning {
    @include box-sizing(border-box);
    color: $red;
    padding: 10px;
    color: #4E1309;
    display: block;
    width: 33.333%;
    float: left;
  }
    .critical {
      background: lighten(red, 20%);
    }
    .severe {
      background: lighten(orangered, 20%);
    }
    .warning {
      background: lighten(yellow, 20%);
    }
}